.neonText1 {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}
.neonText2 {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px rgb(0, 255, 166, 0.9), 0 0 82px rgb(0, 255, 166, 0.9),
    0 0 92px rgb(0, 255, 166, 0.9), 0 0 102px rgb(0, 255, 166, 0.9),
    0 0 151px rgb(0, 255, 166, 0.9);
}
.neonHeadCont {
  text-align: center;
}
.neonHeadImg {
  width: 100px;
}
