:root {
  --dark: #18201b;
  --lighter: #2a3830;
  --primary: #00b87b;
}

.App {
  background-color: var(--dark);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

h1 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 0px;
  margin-top: 0px;
}

button {
  cursor: pointer;
}
