:root {
  --shadow: #0e1310;
  --dark: #18201b;
  --lighter: #2a3830;
  --lighterer: #3b4e44;
  --primary: #00b87b;
}

.App {
  background-color: var(--dark);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

h1 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 0px;
  margin-top: 0px;
}

button {
  cursor: pointer;
}

h2 {
  font-size: 26px;
}

h3 {
  text-align: center;
  font-size: 17px;
  font-weight: 300;
  text-align: left;
}

a {
  color: #00b87b;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0;
}

li {
  margin-left: -10px;
  margin-bottom: 10px;
}

.linksContainer a {
  margin-left: 5px;
  margin-right: 5px;
}

.linksContainer a:hover {
  filter: drop-shadow(0px 0px 4px #00ffaa);
}

.switchNetworkBtn {
  background: none;
  border: 2px solid #b86500;
  width: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  color: #b86500;
  font-size: 20px;
  font-weight: bold;
  transition-duration: 0.2s;
}
.switchNetworkBtn:hover {
  background: #b86500;
  color: white;
}
