.App {
  text-align: center;
}

body {
  color: white;
}

.container {
  text-align: center;
}
b {
  font-weight: 600;
}

.App-link {
  color: #61dafb;
}

h1,
h2 {
  text-align: center;
  font-weight: 400;
}

h1 {
  text-transform: uppercase;
  font-size: 4.2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
}
h4 {
  font-size: 0.8rem;
}
h5 {
  font-weight: 400;
  font-size: 0.98rem;
  height: 10px;
  color: rgb(91, 91, 91);
}
h6 {
  font-weight: bold;
}

button {
  transition: 0.2s ease-in-out;
}

input {
  transition-duration: 0.2s;
  width: 312px;
  height: 58px;
  border: none;
  background: #2b3b32;
  border-radius: 5px;
  color: #00b87b;
  font-size: 18px;
  font-weight: bold;
  outline: none;
  text-align: left;
  padding-left: 10px;
}
input:hover {
  background: #364a3e;
}
.searchBtn {
  height: 40px;
  background: none;
  border: none;
  margin-left: -44px;
  transform: translateY(8px);
}
.randomBtn {
  height: 60px;
  width: 60px;
  border: none;
  background: #2b3b32;
  border-radius: 5px;
  transform: translateY(4px);
  margin-left: 20px;
}
.randomBtn:hover {
  background: #364a3e;
}
.typeBtn {
  margin-top: 28px;
  height: 18px;
  width: 35px;
  background: white;
  border: none;
  border-radius: 4px;
  cursor: default;
  color: black;
  font-weight: bold;
}
.twitterBtn {
  height: 40px;
  width: 40px;
  border: none;
  background: none;
  margin-top: 18px;
  margin-left: 120px;
}
.helpBtn {
  border-radius: 15px;
  height: 24px;
  width: 24px;
  color: black;
  background: white;
  border: none;
  font-weight: bold;
  font-size: 17px;
  margin-left: 20px;
  margin-right: 20px;
  transform: translateY(-2px);
}
.mintBtn {
  width: 350px;
  height: 60px;
  background: #00b87b;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  outline: none;
  text-align: center;
  margin-bottom: 25px;
}
.mintBtn:hover {
  color: #fff;
  background: #00d08b;
}

button {
  cursor: pointer;
}

.footText {
  color: #fff;
}
a {
  color: #00b87b;
  transition-duration: 0.2s;
}
a:hover {
  color: white;
  text-shadow: 0 0 4px #fff, 0 0 5px #fff, 0 0 10px #fff,
    0 0 20px rgb(0, 255, 166, 0.3), 0 0 20px rgb(0, 255, 166, 0.3),
    0 0 30px rgb(0, 255, 166, 0.3), 0 0 60px rgb(0, 255, 166, 0.3),
    0 0 80px rgb(0, 255, 166, 0.4);
}

.networkBtn {
  margin-top: 60px;
  margin-bottom: 80px;
  width: 300px;
  height: 40px;
  border: none;
  background: none;
  border-radius: 5px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}
.networkBtn:hover {
  color: #00b87b;
}

.backCard {
  text-align: center;
  display: inline-block;
  background: #2b3c32;
  border-radius: 5px;
  width: 400px;
  margin-top: 20px;
}

.NFTAddressText {
  font-size: 18px;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 15px;
  text-align: left;
  margin-left: 24px;
  color: white;
  width: 160px;
}

.toolTip {
  position: relative;
  display: inline-block;
}
.toolTip .toolTipText {
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 14px;
  padding: 5px 5px;
  border-radius: 6px;
  width: 240px;
  bottom: 100%;
  left: 50%;
  margin-left: -120px;
  transform: translateY(-5px);
  position: absolute;
  z-index: 1;
  font-weight: 400;
}
.toolTip:hover .toolTipText {
  visibility: visible;
}
