.punkCard {
  background-color: var(--lighter);
  max-width: 400px;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.punkCardContent {
  margin-left: 40px;
  margin-right: 40px;
}