.connectBtn {
  width: 220px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: white 2px solid;
  background: none;
  border-radius: 8px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  transition-duration: 0.2s;
}
.connectBtn:hover {
  background: white;
  color: black;
}

.container {
  text-align: center;
}
