
/* style={{marginLeft: "auto", border: "none", "background": "none", cursor: "pointer", height: "18px"}} */
.twitterButton {
  margin-left: auto;
  border: none;
  background: none;
  cursor: pointer;
  height: 22px;
  margin-top: auto;
  margin-bottom: auto;
}

.twitterButton img {
  height: 100%;
}